* {   	
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}


/* see the basic structure */
body {
   margin: 0 auto;
}
/* page layout >>>>>>>>>>>>>>>*/
main{
	position:relative;
}
#header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 40px;
    background: white;
    border-bottom: 1px solid grey;
   }

.part {
    float: left;
    display: inline-block;
    height: 100%;
    
}

.one {
    width:30%;
    
    }

.one ul {
	float: left;
	margin-left: 20px;
}

.one a{
        text-decoration: none; 
        color:black;   
}

.list {
	margin: 11px 0 0 0;
	padding:0;
}

.list li{
    display:inline-block;
    }

.list :nth-child(2),
.list :nth-child(3){
	margin-left: 8px;
}

.list :nth-child(3){
	font-weight: bold;
	font-size: 13px;
}

.two{
    width:40%;
    position:relative;
}

.two img {
    width: 50%;
    height: 70%;
    margin: 4px 0 0 0;
    position: absolute;
    left:25%;
}

.three{
    width:30%;
}

.three :nth-child(2){
    margin-right: 4px;
   
}

.three :nth-child(3){
   
}

.top-button {
	float: right;
    margin-right: 20px;
    margin-top: 1%;
    border-radius: 4px;
     background: #6288a5;
    padding: 11px 12px 9px 12px;
    color: white;
    font-weight: 700;
    font-size: 11px;
    border: solid 1px;
    cursor: pointer;    
}

.top-button:hover {
    background: #36688e;   
}

#left-sidebar {
    float: left;
    width: 20%;
    background: black;
    height: 50px;
    margin: 30px 0;
}

#content {
    float: left;
    width: 40%;
    margin-top:30px;
    margin-bottom: 30px;
	margin-left: 30%;
	margin-right: 30%;
   
}

.photo {
	position:relative;
	width:80%
}

.photo img {
margin:0;
position:relative;
right:40%;
}

.photo span {
   position: inherit; 
   right: 40%;
   display: block;
   width: 750px;
   color:gray;
}

.photo :nth-child(2){
	margin-top: 10px;
}

.photo :nth-child(3){
	margin-top: 4px;
	color:lightgrey;
	font-size:12px;
}

.head {
	margin: 50px auto;
	
}

.author span{
	font-size: 14px;
}
.author a{
	text-decoration: none;
	color:black;
	font-weight: bold;
	font-size: 14px;
}


.date{
	display:inline-block;
}

.social{
	display:inline-block;
	width:100%;
	position:relative;
}

.media{
    display:inline-block;
    float: right;
    margin: 0 auto;
    list-style: none;
}

.date{
	margin-top:12px;
}

.media li {
    display: inline;
    margin: 0 10px;
}

.rounded i {
    background: lightgray;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    border:1px solid white;
}

.rounded i:hover {
    background: white;
    border: 1px solid gray;
}

.noround{
	cursor:pointer;
}



.sidebars {
	width:20%;
	position:absolute;
	right:25px;
	/* float: left;
    width:20%;
	margin: 30px 0; */

}

.sidebars img,
.sidebars p {
   /* display: inline-block; */
   float: left;
   cursor: pointer;
}

.sidebars p {
    width: 125px;
    height: 68px;
    margin-top:0;
    padding-bottom: 15px;
	margin-left: 10px;
	font-size: 14px;
}

.editors {
	top:1300px;
	width:100%;
	
}

.science {
	top:3000px;
	width:60%;
	right:35px;
}

.science button{
	padding: 10px 15px;
    border-radius: 6px;
    width: 100%;
    color:white;
    background: #6288a5;
    font-weight: 700;
	cursor: pointer;
	
}

.science :nth-child(1){
	font-weight: bold;
	font-size: 18px;
	display:block;
	margin-bottom: 8px;
}

.science :nth-child(3){
	display:block;
	font-size: 12px;
	color:gray;
}

.sidebars img {
    height: 75px;
    width: 75px;
}

#desc1 {
    margin-top: 7px;
}

#desc2 {
    margin-top: 17px;   
}

.editors hr {
    width:80%;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 30px;
    background: peru;
    width: 100%;
}



/* page layout ===============*/
.heady{
    position:relative;
}

.heady p{
    font-weight: 100;
    color:gray;
}

.theory-part{
   position:relative;
    overflow: scroll;
}

.theory-part img {
    width: 970px;
    height: 98%;
}

.box{
	position:absolute;
	top:28%;
    
}

.box1 {
	left:0;
	width:250px;
}

.box2 {
    left:265px;
	width:200px;
}

.box3 {
	left:480px;
	width:250px;
}

.box4{
    left:750px;
    width: 190px;
}

.boxB {
    top: 70%;
}

.box5{
    left:0;
	width:250px;
}
.box6{
    left:265px;
	width:200px;
}
.box7{
    left:480px;
	width:250px;
}
.box8{
    left:740px;
    width: 190px;
}

.box span {
    font-weight: bold;
}

.box p {
    font-weight: 100;
}

.larry{
	margin-bottom: 50px;
}

.youtube{
	width:100%;
}

.stanford1{
	color:gray;
}

.stanford2{
	color:lightgrey;
}

.telescope{
	width:100%;
}

.telescope1{
	color:gray;
}

.telescope2{
	color:lightgray;
}

.social-icons{
    margin:0;
    display: inline-block;
    float: right;
	width: 35%;
	padding:0;
}

.icons{
	display:inline-block;
}

hr {
	width: 10%;
    border:2px solid lightgrey;
    box-shadow: 2px;
    margin: 0;

}

.top-text {
    display: block;
}

.content-foot button {
    padding: 10px 15px;
    border-radius: 6px;
    width: 55%;
    color:white;
    background: #6288a5;
    font-weight: 700;
    cursor: pointer;
}

.lowest-footer{
    clear: both;
    margin-top: 10px;
	margin-left:3%;
	margin-right:3%;
}

.lowest-footer>hr {
    width:100%;
    margin-bottom: 1%;
}

.nyt {
    display: block;
    margin-bottom:1%;
}

.nyt img {
    width:15%;
}

.foot-column {
    float: left;
	width:15%;
	
}

.foot-column span {
	font-weight:bold;
}

.foot-column hr {
    width:135%;
}

.column{
	list-style: none;
	padding:0;
}

.column a {
    text-decoration: none;
    color:black;
    font-weight: 100;
}

.column a:hover {
    text-decoration: underline;
}


.low-ban {
    clear: both;
    padding-top: 10px;
}

.low-ban ul {
    margin-left: 18%;
}

.low-ban li {
	display: inline-block;
    margin-right: 15px;
    
}

.low-ban a {
    text-decoration: none;
    color: gray;
    font-size: 10px;
}

.low-ban hr {
    margin-left: 3%;
    width: 94%;
}

.low-ban a:hover {
    text-decoration: underline;
}

.right-top a {
    font-weight: bold;
}

.right-low hr {
	width: 100%;
	border-top:1px solid lightgray;
}

.right-low a {
    font-weight:lighter;
    
}


.bot{
	margin-right: 6px;
}

.last{
	margin-left: 5%;
	padding-left: 15px;
	border-left: 1px solid gray;
}

