* {
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}


/* see the basic structure */
body {
    border: 1px solid red;
    margin: 0 auto;
}

/* page layout >>>>>>>>>>>>>>>*/

#header {
    position: fixed;
    width: 100%;
}

.part {
    float:left;
    display: inline-block;
    height: 20px;
}

.one {
    background: red;
    width:30%;
}

.two{
    background:blue;
    width:40%;
}

.three{
    background:yellow;
    width:30%;
}

/* page layout ===============*/